@model PhotgraphyMVC.Models.HomeData
@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h2>Upcoming Events:</h2>
    @foreach (PhotgraphyMVC.Models.Event evnt in Model.UpcomingEvents)
    {
        <h4>@evnt.EventDate.ToShortDateString(): @evnt.Client.FullName - @evnt.EventType</h4>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Todo List</h2>
        @foreach (PhotgraphyMVC.Models.TodoList todo in Model.TodoListItems)
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => todo.TodoListID)
            <p>
                @if (todo.DueDate < DateTime.Now)
                {
                    <span style="color:red;font-size:large">@todo.DueDate.ToShortDateString(): @todo.ItemDescription</span>;
                }
                else
                {
                    <span style="font-size:large">@todo.DueDate.ToShortDateString(): @todo.ItemDescription</span>;
                }

                @*<div class="editor-field">
                    @Html.CheckBoxFor(model => todo.IsCompleted, new { id = todo.DueDate.ToShortDateString() })
                </div>*@
            </p>
        }

        <hr />
        <h4>@Html.ActionLink("Manage Todo Items", "Index", "TodoLists")</h4>
    </div>
    <div class="col-md-4">
        <h2>Mileage</h2>
        <h4>Total Mileage Driven: @Model.MilesDriven</h4>
        <hr />
        <h4>@Html.ActionLink("Enter New Mileage", "Create", "Mileages")</h4>
    </div>
    <div class="col-md-4">
        <h2>Billing</h2>
        <h4>Total Sales Tax: $@Model.TotalSalesTax.ToString("0.00")</h4>
        <h4>Total Expenses: $@Model.TotalExpenses.ToString("0.00")</h4>
        <h4>Total Gross: $@Model.TotalGrossIncome.ToString("0.00")</h4>
        <h4>Total Net Income: $@Model.TotalNetIncome.ToString("0.00")</h4>
    </div>
</div>

@section Scripts {
    @foreach (PhotgraphyMVC.Models.TodoList todo in Model.TodoListItems)
    {
        <script type="text/javascript">
            $(function () {
                $('#chkImmediate').change(
                    function () {
                        var checked = $(this).is(':checked'); clickEvent(checked);
                    });
            });
        </script>
    }
}

