@model PhotgraphyMVC.Models.HomeData
@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h2>Upcoming Events:</h2>
    @foreach (PhotgraphyMVC.Models.Event evnt in Model.UpcomingEvents)
    {
        <h4>@evnt.EventDate.ToShortDateString(): @evnt.Client.FullName - @evnt.EventType</h4>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Todo List</h2>
        @foreach (PhotgraphyMVC.Models.TodoList todo in Model.TodoListItems)
        {
            <p>
                @if (todo.DueDate < DateTime.Now)
                {
                    @*<span style="color:red;font-size:large">@todo.DueDate.ToShortDateString(): @todo.ItemDescription - <%=Html.ActionLink("Complete", "CompleteItem", "TodoListsController", new { id = todo.TodoListID }, null) %></span>;*@
                    <span style="color:red;font-size:large">@todo.DueDate.ToShortDateString(): @todo.ItemDescription - </span>;
                    @Html.ActionLink("Complete", "CompleteItem", "TodoLists", new { id = todo.TodoListID }, new { @class = "btn btn-sm btn-default" })
                }
                else
                {
                    <span style="font-size:large">@todo.DueDate.ToShortDateString(): @todo.ItemDescription - </span>;
                    @Html.ActionLink("Complete", "CompleteItem", "TodoLists", new { id = todo.TodoListID }, new { @class="btn btn-sm btn-default"})
                }

                @*<div class="editor-field">
                        @Html.CheckBoxFor(model => todo.IsCompleted, new { id = todo.DueDate.ToShortDateString() })
                    </div>*@
            </p>
            @*@Html.ActionLink("Complete", "CompleteItem", new { id = todo.TodoListID })*@
        }

        <hr />
        <h4>@Html.ActionLink("Manage Todo Items", "Index", "TodoLists")</h4>
    </div>
    <div class="col-md-4">
        <h2>Mileage</h2>
        <h4>Total Mileage Driven: @Model.MilesDriven</h4>
        <hr />
        <h4>@Html.ActionLink("Enter New Mileage", "Create", "Mileages")</h4>
    </div>
    <div class="col-md-4">
        <h2>Billing</h2>
        <h4>Total Sales Tax: $@Model.TotalSalesTax.ToString("0.00")</h4>
        <h4>Total Expenses: $@Model.TotalExpenses.ToString("0.00")</h4>
        <h4>Total Gross: $@Model.TotalGrossIncome.ToString("0.00")</h4>
        <h4>Total Net Income: $@Model.TotalNetIncome.ToString("0.00")</h4>
    </div>
</div>

@section Scripts {
    @*@foreach (PhotgraphyMVC.Models.TodoList todo in Model.TodoListItems)
    {
        <script type="text/javascript">
            $(function () {
                $('#chkImmediate').change(
                    function () {
                        var checked = $(this).is(':checked'); clickEvent(checked);
                    });
            });
        </script>
    }*@
}

