@model PagedList.IPagedList<PhotgraphyMVC.Models.TaxYear>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tax Years";
}

<h2>Tax Years</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "TaxYears", FormMethod.Get, new { @class = "form-inline" }))
{
    <label>Find By Name: </label>
    <div class="input-group">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <span class="input-group-btn"><input type="submit" class="btn btn-default" value="Search" /></span>
    </div>
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.YearSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Tax Rate
        </th>
        <th>
            Taxable Percent
        </th>
        <th>
            @Html.ActionLink("Total Tax", "Index", new { sortOrder = ViewBag.TotalTaxSortParm })
        </th>
        <th>
            Total Expenses
        </th>
        <th>
            Total Gross Income
        </th>
        <th>
            @Html.ActionLink("Total Net Income", "Index", new { sortOrder = ViewBag.TotalIncomeSortParm })
        </th>
        <th>
            @Html.ActionLink("Total Miles", "Index", new { sortOrder = ViewBag.TotalMilesSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxablePercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalGrossIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNetIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMiles)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaxYearID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TaxYearID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaxYearID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
