@model PhotgraphyMVC.Models.Billing

@{
    ViewBag.Title = "Edit Bill";
}

<h2>Edit Bill</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Billing</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BillingID)

        <div class="form-group">
            @Html.LabelFor(model => model.BillingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingDate, new { htmlAttributes = new { @Value = Model.BillingDate.ToString("dddd, MMMM dd yyyy hh:mm tt"), @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BillingType, new List<SelectListItem>
                    {
                        new SelectListItem { Text="Invoice", Value="Invoice" },
                        new SelectListItem { Text="Payment", Value="Payment" },
                        new SelectListItem { Text="Expense", Value="Expense" }
                    }, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BillingType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientID, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ClientID, new SelectList(Model.ClientIDs, "ClientID", "FullName"), htmlAttributes: new { @class = "form-control" })
                @*@Html.DropDownList("ClientID", (IEnumerable<SelectListItem>)ViewData["Client"], string.Empty, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaxYearID, "Tax Year", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TaxYearID, new SelectList(Model.TaxYearIDs, "TaxYearID", "Year"), htmlAttributes: new { @class = "form-control" })
                @*@Html.DropDownList("TaxYearID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.TaxYearID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script type="text/javascript">
  $(function () {
    $('#BillingDate').datetimepicker({
      defaultDate: '@DateTime.Now',
      format: 'LLLL',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top',
      stepping: 15
    });
  });
    </script>
}
