@model PagedList.IPagedList<PhotgraphyMVC.Models.Billing>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Bills";
}

@if (ViewBag.BillingYearSelection == 0)
{
    <h2>All Bills</h2>
}
else
{
    <h2>@ViewBag.BillingYearSelection Bills</h2>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    <span>@Html.ActionLink("All", "Index", new { billingYearSelection = 0 })</span>
    @{
        foreach (int year in ViewBag.BillingYears)
        {
            <span>  |  @Html.ActionLink(year.ToString(), "Index", new { billingYearSelection = year })</span>
        }
    }
</p>

@using (Html.BeginForm("Index", "Billings", FormMethod.Get, new { @class = "form-inline" }))
{
    <label>Find By Name: </label>
    <div class="input-group">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <span class="input-group-btn"><input type="submit" class="btn btn-default" value="Search" /></span>
    </div>
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Billing Date", "Index", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Billing Type
        </th>
        <th>
            @Html.ActionLink("Total", "Index", new { sortOrder = ViewBag.TotalParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BillingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BillingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BillingID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Manage Tax Years", "Index", "TaxYears")
</p>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
