@model IEnumerable<PhotgraphyMVC.Models.Billing>

@{
    ViewBag.Title = "Bills";
}

<h2>Bills</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientEvent.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxYear.TaxYearID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientEvent.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxYear.TaxYearID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BillingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BillingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BillingID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Manage Tax Years", "Index", "TaxYears")
</p>
